<%- include ('../partials/header') %>


<%- include ('../partials/main_nav') %>


<!-- Content for The Add page-->
<div class="container">
    <div class="row">
        <div class="offest-md-2 col-md-8">
            <h1>Add Incident</h1>

            <form class="form" method="POST">
                <div class="form-group">
                    <label for="nameTextField">Incident id</label>
                    <input type="number" class="form-control"
                    id="nameTextField"
                    placeholder="Enter the Incident ID"
                    name="incidentID" required>
                </div>

                <div class="form-group">
                    <label for="authorTextField">Incident Number</label>
                    <input type="text" class="form-control"
                    id="authorTextField"
                    placeholder="Enter the incident number"
                    name="incidentNo" required>
                </div>

                <div class="form-group">
                    <label for="publishedTextField">Title</label>
                    <input type="text" class="form-control"
                    id="publishedTextField"
                    placeholder="Enter Title"
                    name="title" required>
                </div>

                <div class="form-group">
                    <label for="descriptionTextArea">Category</label>
                    <textarea type="text" class="form-control"
                    id="descriptionTextArea"
                    placeholder="Enter the category"
                    name="category" required></textarea>
                </div>

                <div class="form-group">
                    <label for="publishedTextField">Created by</label>
                    <input type="text" class="form-control"
                    id="priceTextField"
                    placeholder="Created by"
                    name="createdBy" required>
                </div>

                <div class="form-group">
                    <label for="publishedTextField">Assigned to</label>
                    <input type="text" class="form-control"
                    id="priceTextField"
                    placeholder="Assigned to"
                    name="assignedtTo" required>
                </div>

                <div class="form-group">
                    <label for="publishedTextField">Status</label>
                    <input type="text" class="form-control"
                    id="priceTextField"
                    placeholder="Status"
                    name="status" required>
                </div>

                <div class="form-group">
                    <label for="publishedTextField">Priorit</label>
                    <input type="text" class="form-control"
                    id="priceTextField"
                    placeholder="Priority "
                    name="priority" required>
                </div>

                <button class="btn btn-primary" type="submit">
                    <i class="fas fa-edit"></i> Submit</button>

                    <a href="/incident" class="btn btn-warning">
                        <i class="fas fa-undo"></i>Cancel</a>
            </form>
        </div>
    </div>
</div>




<%- include ('../partials/bottom_nav') %>
<%- include ('../partials/footer') %>