<!--bottom nav-->
<style>
    h1{
      font-size: 14px;
    }
  </style>
  
  <footer>
    <nav class="navbar fixed-bottom navbar-dar bg-secondary">
      <h1 class="display-0 navbar-text">&copy; 2023. ALL rights reserved</h1>
    </nav>
  </footer>