<%- include ('partials/header') %>
<%- include ('partials/main_nav') %>

    <!-- Login page using Bootstrap classes -->
    
 <main class="container">
    <div class="p-5 mb-4 bg-light rounded-3">
      
        <h1 class="display-4">Unity IncidentModel Manager!</h1>
                <p class="lead">
                    Unity IncidentModel Management software assists your organization to identify, analyze, and resolve critical incidents,
                    which could lead to performance and operational problems within the organization if not resolved.
                </p>
                <hr class="my-4">
            <p class="lead"></p>
        
      <button class="btn btn-outline-success">
        <div lass="container-fluid" id="navbarSupportedContent">
          <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
            <a class="nav-link active"  href="#"></i>Login</a>
        </div>
      </button>
    </div>
  </main>
<!--Footer-->


<%- include ('partials/bottom_nav') %>
<%- include ('partials/footer') %>