<%- include ('partials/header') %>


<%- include ('partials/main_nav') %>

  
  <!--main content-->
  <main class="container">
    <div class="p-5 mb-4 bg-light rounded-3">
      
        <h2> Hello Everyone , Thank you for visting this Website</h2>
        <p>1- This website will help you to look at my services which i offer and projects which i have done. </p>
        <p>2- To know more, click the button below </p>
        
      <button class="btn btn-outline-success">
        <div lass="container-fluid" id="navbarSupportedContent">
          <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
            <a class="nav-link active"  href="/about"></i>About Page</a>
        </div>
      </button>
    </div>
  </main>

  
  <%- include ('partials/bottom_nav') %>
  <%- include ('partials/footer') %>
