<section>
  <div class="container">
    <div class="px-4 py-5 my-5 bg-light rounded-3">
      <div class="container-fluid py-5">
        <h1 class="display-5 fw-bold">Unity Incident Manager</h1>
        <p class="col-md-8 fs-4">Incident management software assists your organization to identify, analyze, and
          resolve critical incidents, which could lead to performance, compliance and operational problems
          within an organization if not restored.</p>
        <button class="btn btn-primary btn-lg" type="button" (click)="showLogin()" >Start here...</button>
      </div>
    </div>
  </div>
</section>
